<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/style.css">
    </link>
</head>

<body>
    <header>
        <h1>Chat</h1>
        <div id="status">Connecting...</div>
        <textarea id="name" placeholder="Put your Name Here!"></textarea>
        <button id="name-submit">Submit</button>
    </header>

    <div id="full-page">
        <aside class="sidebar">
            <nav>
                <li><a href="javascript:void">Dashboard</a></li>
                <li><a href="javascript:void">Settings</a></li>




                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Profile Options</span>

                <li><select id="theme-selector">
                        <option value="light">Light Mode</option>
                        <option value="dark">Dark Mode</option>
                    </select>
                </li>

            </nav>
        </aside>

        <div id="profileMenu" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

            <div class="overlay-content">
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
            </div>
        </div>

        <div id="message-board">
        </div>


        <div id="send">
            <textarea id="send-box" placeholder="Type your message here!"></textarea>
            <button id="send-btn">Send!</button>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>